@model IEnumerable<Eksamen2025Gruppe5.Models.PollenAPIViewModel>

@{
    ViewData["Title"] = "Pollenvarsel for 5 kommende dager";
}

<h1>Pollenvarsel for 5 kommende dager</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Dato</th>
            <th>Kode</th>
            <th>Navn</th>
            <th>Verdi</th>
            <th>Kategori</th>
            <th>Beskrivelse</th>
            <th>Farge (nivå)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var varsel in Model)
        {
            <tr>
                <td>@varsel.Date</td>
                <td>@varsel.Code</td>
                <td>@varsel.DisplayName</td>
                <td>@varsel.Value</td>
                <td>@varsel.Category</td>
                <td>@varsel.IndexDescription</td>
                <td style="background-color: rgb(@varsel.Red, @varsel.Green, @varsel.Blue);">
                    RGB(@varsel.Red, @varsel.Green, @varsel.Blue)
                </td>
            </tr>
        }
    </tbody>
</table>
